body {
  background-image: url('img/bkgd.png');
}

.label {
    width: 348px;
    height: 204px;
  }
  
  .label .text-wrapper {
    position: fixed;
    width: 348px;
    top: 0;
    left: 0;
    text-shadow: 0px 4px 4px #00000040;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: #000000;
    font-size: var(--title-font-size);
    text-align: center;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
  }
  
  .box {
    width: 184px;
    height: 51px;
  }
  
  .box .play {
    position: fixed;
    width: 192px;
    height: 59px;
    top: 300px;
    left: 80px;
  }
  
  .box .load-out {
    position: fixed;
    width: 192px;
    height: 59px;
    top: 371px;
    left: 80px;
  }

  .box .store {
    align-items: center;
    width: 192px;
    height: 59px;
    top: 442px;
    left: 80px;
  }