/* styles.css */

@font-face {
    font-family: Pixeboy;
    src: "Pixeboy.ttf"
   }

* {
    font-family: Pixeboy;
}
.large {
    font-size: 80px
}

.x-large {
    font-size: 120px;
}

.sky {
    /*Need to add media breakpoints for background*/
    background: url(/images/Background.jpg);
    background-color: #d7a887;
   }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.container {
    max-width: 800px;
    margin: 2em auto;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
.back-button {
    background-color: transparent;
    border: none;
}

.center {
    text-align: center;
}

.left {
    margin-left: 10%;
}