/* styles.css */

@font-face {
    font-family: "Pixeboy";
    src: url('fonts/Pixeboy.ttf')
   }

* {
    font-family: Pixeboy;
}
.large {
    font-size: 80px
}

.x-large {
    font-size: 120px;
}

.sky {
    background: url(/images/Background.jpg);
    background-color: #d7a887;
   }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.container {
    max-width: 800px;
    margin: 2em auto;
}

h1 {
    color: #333;
}

p {
    color: #333;
}
.back-button {
    background-color: transparent;
    border: none;
}

.center {
    text-align: center;
    align-items: center;
}

.left {
    margin-left: 10%;
}

#mutebut {
    float: right;  
}

#control{
    padding-top:15%;
    margin-right:20%;
    margin-left:20%;
}

img.vert-move:hover {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.medium {
    font-size: 40px;
}

.small {
    font-size: 25px;
}